*{
  margin: 0px;
padding:0px;
}
body{
    background-color: black;
}
main{

    background-color: black;
    width: 100vw;
    height: auto;
}
h1{
    display: flex;
    font-size: 4rem;
    background-image: linear-gradient(to right,#EC4899, #8B5CF6);
    -webkit-background-clip:text; 

   -webkit-text-fill-color: transparent;
    text-decoration: underline;
    text-decoration-color:maroon;
    text-align: center;
    margin: 30px auto;
}
#container{
    display: flex;
    flex-direction: column;
  
    position:relative;
    color: white;
 
}
a{
    color: white;
    text-decoration: none;
}
#allAssignment ol{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
width: 50vw;
height: auto;
margin:20px auto;

}
ol li{
    display: flex;
    width: 30vw;
    align-items: center;
    align-content: center;

    list-style-position: inside;
    
    background-image: linear-gradient(to right,#EC4899, #8B5CF6);
    -webkit-background-clip:text; 

   -webkit-text-fill-color: transparent;
   margin: 2px 50px;
   padding:10px;
   border-radius: 40px;
   border:1px solid grey;

}
